<div class="container">
  <app-register-card class="card"></app-register-card>
  <div class="formContainer">
    <form>
      <h1>Join DeviantArt</h1>
      <div>
        <h2>Already a deviant?</h2>
        <a>Log in</a>
      </div>
      <h3>Pick a username</h3>
      <input type="text" />
      <h3>Add your email</h3>
      <input type="email" />
      <h3>Choose a password</h3>
      <input type="password" />
      <button>Join</button>
    </form>
    <h4>
      By clicking Join, I confirm that I have read and agree to the DeviantArt
      Terms of Service, Privacy Policy, and to receive emails and updates.
    </h4>
  </div>
</div>
